@font-face {
  font-family: "regular";
  src: url("./font/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "bold";
  src: url("./font/NotoSansKR-Bold.otf");
}

* { font-family: "regular", serif}

html {
  min-width: 1440px;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
